h1, h2, h3, p, a{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1, h2, h3{
    width: 100%;
    text-align: center;
}
#whatsApp:hover{
    background-image: linear-gradient(to right,green, lime);
    border-radius: 20pt;
    padding: 10px;
    transition: 1s;
}
#whatsApp{
    transition: 1s;
}
#instagram:hover{
   background-image: linear-gradient(to right,purple, pink, orange);
  border-radius: 20pt ;
  padding: 10px;
  transition: 1s;
}
#instagram{transition: 1s;}
#github:hover{
    background-color:dimgray;
    color: white;
    border-radius: 20pt;
    padding:10px ;
    transition: 1s;
}
#mail:hover{
background-image: linear-gradient(
    45deg,
 cyan,
 aquamarine ,
 blue) ;
border-radius: 10pt;
padding: 10px;
transition: 1s;
}